@CHARSET "ISO-8859-1";

div.panelPost {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

div.panelPost div.ui-panel-content {
	margin: 0 !important;
	padding: 0 !important;
}

.titlePost {
	font-weight: bold;
	font-size: 28px !important;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'Montserrat', sans-serif !important;
	color: rgba(100, 100, 100, 0.8);
}

.imageFrontPost {
	width: 100%;
	height: 400px;
}

div.dialogPost {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

.panelGridPost {
	font-family: 'Chau Philomene One', sans-serif !important;
	width: 100%;
}

#dialog_post .ui-dialog-content {
	padding: 0 !important;
	height: 50% !important;
}

.title {
	font-family: 'Chau Philomene One', sans-serif !important;
	padding: 20px;
	font-size: 20px !important;
	display: block;
	padding-left: 20px;
}

.story {
	width: 70%;
	text-align: left;
	padding: 10px;
	vertical-align: top;
	padding-left: 20px;
	text-align: justify;
}

.map {
	width: 30%;
	text-align: right;
	padding: 10px;
	border: 0;
	vertical-align: top;
}

label {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 20px;
}