@CHARSET "ISO-8859-1";

div.panelPost {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

div.panelPost div.ui-panel-content {
	margin: 0 !important;
	padding: 0 !important;
}

.titlePost {
	font-weight: bold;
	font-size: 28px !important;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'Montserrat', sans-serif !important;
	color: rgba(100, 100, 100, 0.8);
}

.imageFrontPost {
	width: 100%;
	height: 400px;
}

div.dialogPost {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

.panelGridPost table {
	width: 100%;
}