@CHARSET "ISO-8859-1";

div.panelPost {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: rgba(255, 255, 255, 0.7);
}

div.panelPost div.ui-panel-content {
	margin: 0 !important;
	padding: 0 !important;
}

.titlePost {
	font-weight: bold;
	font-size: 28px !important;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'Montserrat', sans-serif !important;
	color: rgba(100, 100, 100, 0.8);
}

.imageFrontPost {
	width: 100%;
	height: 400px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-top: 50px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	border: 0 !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
}

div.dialogPost {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

.panelGridPost {
	font-family: 'Chau Philomene One', sans-serif !important;
	width: 100%;
}

#dialog_post .ui-dialog-content {
	padding: 0 !important;
	height: 50% !important;
}

.title {
	font-family: 'Chau Philomene One', sans-serif !important;
	font-size: 20px !important;
	display: block;
	padding: 20px;
	width: 100% !important;
	margin: 0 auto 5px;
	font-size: 40px !important;
	text-align: center;
	width: 100% !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.subtitle {
	font-family: 'Chau Philomene One', sans-serif !important;
	font-size: 26px !important;
	display: block;
	padding: 20px;
	width: 100% !important;
	margin: 0 auto 5px;
	text-align: center;
	width: 100% !important;
	padding-top: 0 !important;
	margin-top: -8px !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.date_post {
	font-family: 'Chau Philomene One', sans-serif !important;
	font-size: 18px !important;
	display: block;
	padding: 20px;
	width: 100% !important;
	margin: 0 auto 5px;
	text-align: center;
	width: 100% !important;
	padding-top: 0 !important;
	margin-top: 0px !important;
	color: #989898 !important;
}

.story {
	width: 70%;
	text-align: left;
	padding: 10px;
	vertical-align: top;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}

.map {
	width: 30%;
	text-align: right;
	padding: 10px;
	border: 0;
	vertical-align: top;
}

label {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 20px;
}

.imageContainer {
	text-align: center;
}

.imageContainer img {
	display: block;
}

.imageContainer div {
	position: relative;
	display: inline-block;
	/* if you need ie6/7 support */
	*display: inline;
	zoom: 1;
}

.panel_transparent {
	background-color: transparent;
	border: 0 !important;
}

.map_story {
	float: left;
	margin-right: 15px;
}

.menu_bar_post {
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0 !important;
	margin: 0 !important;
	margin-top: -50px !important;
	height: 64px;
	background-color: #007AA3 !important;
	background: -webkit-linear-gradient(#007AA3, #007AA3) !important;
	background: -o-linear-gradient(#007AA3, #007AA3) !important;
	background: -moz-linear-gradient(#007AA3, #007AA3) !important;
	background: linear-gradient(#007AA3, #007AA3) !important;
	position: fixed !important;
	width: 1280px !important;
	z-index: 200;
}

.menu_bar_post .ui-menuitem-text {
	font-size: 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 'Chau Philomene One', sans-serif;
	margin-top: 17px !important;
}

.menu_bar_post .ui-menuitem {
	width: 100px;
}

.menu_bar_post .ui-menu-list {
	padding-left: 160px;
}

.menu_bar_post .ui-menuitem-link {
	padding-left: 20px !important;
	padding-right: 20px !important;
	text-align: center;
	height: 50px;
}

.menu_bar_post .ui-menuitem-link:HOVER {
	background-color: #4f4f4f !important;
	background: -webkit-linear-gradient(#4f4f4f, #4f4f4f) !important;
	background: -o-linear-gradient(#4f4f4f, #4f4f4f) !important;
	background: -moz-linear-gradient(#4f4f4f, #4f4f4f) !important;
	background: linear-gradient(#4f4f4f, #4f4f4f) !important;
	-moz-box-shadow: 0px 0px 0px #1C1C1C;
	-webkit-box-shadow: 0px 0px 0px #1C1C1C;
	box-shadow: 0px 0px 0px #1C1C1C;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.panel_grid_subtitle {
	width: 100%;
	text-align: center;
	margin-left: 12px;
}

.logo_menu {
	z-index: 300;
	position: fixed;
	margin-top: -50px;
}